{% extends 'global/skeleton.html' %}

{% load static %}

{% block pagename %}Informazioni sui metodi di scelta{% endblock pagename %}

{% block content %}

<div class="container text-center">
    <h2>In questo sito potrai provare tre differenti metodi di scelta:</h2>
</div>

<br>

<div class="container text-center">
    <div class="d-grid gap-2 d-md-block mt-2 justify-content-middle">
        <a 
            class="btn btn-primary btn-lg mt-2 border-0" 
            href="{% url 'single_option_info' %}"
            style="background-color: #F6AA1C">
            Opzione Singola
        </a>
    </div>
    <div class="d-grid gap-2 d-md-block mt-2 justify-content-middle">
        <a 
            class="btn btn-primary btn-lg mt-2 border-0" 
            href="{% url 'majority_judgment_info' %}"
            style="background-color: #253495">
            Giudizio Maggioritario
        </a>
    </div>
    <div class="d-grid gap-2 d-md-block mt-2 justify-content-middle">
        <a 
            class="btn btn-primary btn-lg mt-2 border-0" 
            href="{% url 'schulze_method_info' %}"
            style="background-color: #961af4">
            Metodo Schulze
        </a>
    </div>
</div>

<div class="container text-center mt-5">
    <div class="d-grid gap-2 d-md-block justify-content-middle">
        <a 
            class="btn btn-primary mt-2" 
            href="{% url 'home' %}" >
            Torna alla home
        </a>
    </div>
</div>

<br>
<br>

{% endblock content %}
