{% extends 'global/skeleton.html' %}

{% load static %}

{% block pagename %}Informazioni sui metodi di scelta{% endblock pagename %}

{% block content %}

<div class="container text-center">
    <h1>Scopri di più sui metodi di scelta</h1>
</div>
<div class="container" > 
    <div class="alert alert-primary fw-light" role="alert">
    L'obiettivo di <b>ScegliMeglio</b> è la diffusione di metodi avanzati per compiere scelte sociali. A volte l'opinione di una persona, in una scelta, è più complessa di una preferenza singola. 
    Per questo motivo sono nati  metodi di scelta che permettono di esprimere la propria preferenza in un modo più completo, come il <b>Giudizio Maggioritario</b> e il <b>Metodo Schulze</b>.
    </div>
</div>
<div class="container text-center border">
    <div class="row md-auto justify-content-center">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="card md-auto mt-5 shadow bg-body rounded" style="width: 22rem; height: 380px;">
                <img src="{% static 'info_pages/OS/OS_vote_blank.JPG' %}" class="card-img-top" alt="Opzione Singola">
                <div class="card-body text-center">
                    <h5 class="card-title  bg-light">Opzione Singola</h5>
                    <p class="card-text fw-light mb-5">Il metodo più semplice e conosciuto.</p>
                    <a href="{% url 'single_option_info' %}"
                        style="background-color: #F6AA1C" 
                        class="btn btn-primary btn-lg mt-2 border-0">Vai alla spiegazione</a>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-center">
            <div class="card md-auto mt-5 shadow bg-body rounded" style="width: 22rem; height: 380px;">
                <img src="{% static 'info_pages/MJ/MJ_vote_blank.JPG' %}" class="card-img-top" alt="Giudizio Maggioritario">
                <div class="card-body text-center">
                    <h5 class="card-title  bg-light">Giudizio Maggioritario</h5>
                    <p class="card-text fw-light mb-3">Il metodo che permette di dare un giudizio alle opzioni</p>
                    <a href="{% url 'majority_judgment_info' %}"
                        style="background-color: #253495" 
                        class="btn btn-primary btn-lg mt-2 border-0">Vai alla spiegazione</a>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-center">
            <div class="card md-auto mt-5 shadow bg-body rounded" style="width: 22rem; height: 380px;">
                <img src="{% static 'info_pages/SC/SC_vote_blank.JPG' %}" class="card-img-top" alt="Metodo Schulze">
                <div class="card-body text-center">
                    <h5 class="card-title bg-light mt-3">Metodo Schulze</h5>
                    <p class="card-text fw-light mb-4">In metodo di scelta che classifica le opzioni.</p>
                    <a href="{% url 'schulze_method_info' %}"
                        style="background-color: #961af4" 
                        class="btn btn-primary btn-lg mt-4 border-0">Vai alla spiegazione</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row ">
        <div class="col d-grid gap-2 ">
            <div class=" mt-3 mb-3 d-grid gap-2 justify-content-start">
                <a 
                    class="btn btn-primary mt-2" 
                    href="{% url 'home' %}" >
                    Torna alla home
                </a>
            </div>
        </div>
    </div>
    
</div>


   


<br>
<br>

{% endblock content %}
