{% extends 'global/skeleton.html' %}

{% load static %}

{% block pagename %}Opzione Singola: informazioni{% endblock pagename %}

{% block content %}

<div class="container text-center">
    <h2>Scelte con il metodo dell'Opzione Singola</h2>
</div>

<div class="container text-center">
    <div class="d-grid gap-2 d-md-block justify-content-middle">
        <a 
            class="btn btn-primary mt-2" 
            href="{% url 'home' %}" >
            Torna alla home
        </a>
        <a 
            class="btn btn-primary mt-2" 
            href="{% url 'general_info' %}" >
            Vai alle informazioni generali
        </a>
    </div>
</div>

{% endblock content %}