{% extends 'global/skeleton.html' %}

{% load bootstrap5 %}


{% block pagename %}
    {% if edit  %}
        Scelta modificata
    {% else %}
        Scelta creata
    {% endif %}
{% endblock pagename %}

{% block content %}

<h1 class="text-success">
    Scelta {% if edit  %} modificata {% else %} creata {% endif %} con successo!
</h1>


<div class="container border mt-3 pt-3 pb-3">
    <!-- Poll details -->
    <div class="mb-3">
        {% include 'polls_management/components/poll_info.html' with poll=poll %}
    </div>

    <!-- Poll copy link -->
    <div class="mb-5 ms-1">
        {% include 'polls_management/components/copy_link/poll_copy_link.html' with poll=poll %}
    </div>

    <!-- Performable actions on a poll -->
    {% include 'polls_management/components/poll_actions.html' with poll=poll %}

    <!-- Token management -->
    {% if poll.is_votable_token and not poll.is_closed and user.is_authenticated %}
        {% include "polls_management/components/token_management.html" with token_list=token_list %}
    {% endif %}
</div>



{% endblock content %}

{% block customjs %}
{% include 'polls_management/components/copy_link/copy_link_script.html' %}
{% endblock customjs %}