
{% extends 'global/skeleton.html' %}

{% load bootstrap5 %}
{% load django_htmx %}
{% load static %}

{% block pagename %}
    {% if edit  %}
        Modifica scelta
    {% else %}
        Crea nuova scelta
    {% endif %}
{% endblock pagename %}

{% block content %}
<div class="container text-center mt-5">
<h1>
        {% if edit  %}
            Modifica scelta
        {% else %}
            Crea nuova scelta
        {% endif %}
    </h1>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg> 
          <svg class="bi flex-shrink-0 me-2" width="8" height="8" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            Inserisci tutti i dati e premi "Salva"
    </div>
</div>
<div class="container border">
<div class="container mb-5"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="class-tools loading-states">

    <form action="{% url 'apps.polls_management:poll_form' %}" method="POST">

        {% if error is not None %}
        <div class="alert alert-danger mb-5" role="alert" >
            {{ error }}
        </div>
        {% endif %}

        {% comment %} <h5>Nome della scelta, quesito e altri Dettagli</h5> {% endcomment %}

        <div class="form-group mb-5" 
            hx-trigger="keyup delay:500ms, change"
            hx-post="{% url 'apps.polls_management:poll_form_htmx_edit' %}"
            hx-swap="none" 
            hx-params="name, question, poll_type, open_datetime, close_datetime, votable_mj, private, short_id, randomize_options, protection, results_visibility">

            {% bootstrap_form poll_form %}
        </div>

        <h5>Opzioni tra cui scegliere</h5>

        <div class="form-group mb-5">
            <div class="mb-2" id="options-inputs" >
                {% for i,option in options.items %}         
                    {% include "polls_management/components/htmx_option_input.html" with option=option i=i %}
                {% endfor %}
            </div>
            <a id="add-option-button" class="btn btn-primary" role="button"
                hx-post="{% url 'apps.polls_management:poll_form_htmx_create_option' %}"
                hx-target="#options-inputs"
                hx-swap="beforeend"
                >Aggiungi Opzione</a>
        </div>

        {% csrf_token %}
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-warning" href="{% url 'apps.polls_management:poll_form_clean_go_back_home' %}" role="button">Annulla</a>
            <button type="submit" class="btn btn-success" data-loading-disable >Salva</button>
        </div>
    </form>
</div>
</div>

{% endblock content %}


{% block customjs %}

<script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>{# or however you include htmx #}
<script src="{% static 'js/htmx/class-tools.js' %}" defer></script>
<script src="{% static 'js/htmx/loading-states.js' %}" defer></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>



{% endblock customjs %}
