
{% extends 'global/skeleton.html' %}

{% load bootstrap5 %}
{% load django_htmx %}
{% load static %}

{% block pagename %}
    {% if edit  %}
        Modifica scelta
    {% else %}
        Crea nuova scelta
    {% endif %}
{% endblock pagename %}

{% block content %}
<div class="container text-center mt-3 bg-light ">
    <h1>
        {% if edit  %}
            Modifica scelta
        {% else %}
            Crea nuova scelta
        {% endif %}
    </h1>
    
</div>
<div class="container mb-5 border p-3"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="class-tools loading-states">

    <form action="{% url 'apps.polls_management:poll_form' %}" method="POST">

        {% if error is not None %}
        <div class="alert alert-danger mb-5" role="alert" >
            {{ error }}
        </div>
        {% endif %}

        {% comment %} <h5>Nome della scelta, quesito e altri Dettagli</h5> {% endcomment %}

        <div class="form-group mb-5" 
            hx-trigger="keyup delay:500ms, change"
            hx-post="{% url 'apps.polls_management:poll_form_htmx_edit' %}"
            hx-swap="none" 
            hx-params="name, question, poll_type, open_datetime, close_datetime, votable_mj, private, short_id, randomize_options, protection, results_visibility">

            {% bootstrap_form poll_form %}
        </div>
        <div class="alert alert-secondary" role="alert">
        Vuoi sapere come funzionano gli algoritmi di scelta? <a href="{% url 'general_info' %}" class="alert-link" target="_blank">Scopri di più!</a>
        </div>
        <h5>Opzioni tra cui scegliere</h5>

        <div class="form-group mb-5">
            <div class="mb-2" id="options-inputs" >
                {% for i,option in options.items %}         
                    {% include "polls_management/components/htmx_option_input.html" with option=option i=i %}
                {% endfor %}
            </div>
            <a id="add-option-button" class="btn btn-primary" role="button"
                hx-post="{% url 'apps.polls_management:poll_form_htmx_create_option' %}"
                hx-target="#options-inputs"
                hx-swap="beforeend"
                >Aggiungi Opzione</a>
        </div>

        {% csrf_token %}
        
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-warning" href="{% url 'apps.polls_management:poll_form_clean_go_back_home' %}" role="button">Annulla</a>
            <button type="submit" class="btn btn-success" data-loading-disable >Salva</button>
        </div>
    </form>
</div>

{% endblock content %}


{% block customjs %}

<script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>{# or however you include htmx #}
<script src="{% static 'js/htmx/class-tools.js' %}" defer></script>
<script src="{% static 'js/htmx/loading-states.js' %}" defer></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>



{% endblock customjs %}
