{% extends 'global/skeleton.html' %}

{% load static %}

{% block pagename %}Dettagli sondaggio{% endblock pagename %}

{% block container %}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col">
            <h1 class="text-center text-danger fw-light ">
                La scelta non è ancora aperta al voto! 
            </h1>
        </div>
    </div>
    <div class="row bg-primary">
        <div class="col ">
            <div class="fs-3 fw-light text-light">
                Dettagli scelta 
            </div>
               
        </div>
    </div>

    <div class="mb-3">
        {% include 'polls_management/components/poll_info.html' with poll=poll %}
    </div>

    <!-- Poll copy link -->
    <div class="mb-5 ms-1">
        {% include 'polls_management/components/poll_copy_link.html' with poll=poll %}
    </div>

    <div class="row mt-2 ms-1 mb-1 me-1 border-0 rounded bg-warning ">
        <div class="col-md-auto pe-0">
            <div class="fs-4">La scelta apre tra:</div>
        </div>
        <div class="col">
            <div class="fw-light fs-5 mt-1 ">
               
                {% if poll.open_datetime == None%}
                    Nessuna data di apertura impostata.
                {% else %} 
                    {{poll.open_datetime|timeuntil }}
                {%endif%}
             </div>      
        </div>
    </div>

    <div class="row mt-4 mb-5">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    
                <!-- Go back to all polls link -->
                <a name="" id="" role="button"
                    class="btn btn-primary m-2" 
                    href="{% url 'apps.votes_results:votable_polls' %}?page=1&per_page=10" >
                    Ritorna alla lista di tutte le scelte
                </a> 
            </div>
        </div>     
    </div>
    
</div>

{% endblock container %}