{% extends 'global/skeleton.html' %}

{% load static %}

{% block pagename %}Gestione scelte{% endblock pagename %}

{# Page container (you can override it) #}
{% block container %}

{% if page_obj %}
{% for token in page_obj %}
<div class="container text-center mt-5 mb-5 bg-secondary">
    <h1>nome scelta</h1><p>{{poll.name}}</p>
    <img src='/static/qr_codes/{{token}}'/>
</div>
{% endfor %}
{% else %}
<p>no tokens</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<a class="btn btn-info"  href="{% url 'apps.polls_management:pdf_view' %}">Download Invoice</a>
 <a name="" id="" role="button"
                    class="btn btn-primary m-2" 
                    href="{% url 'apps.votes_results:votable_polls' %}?page=1&per_page=10" >
                    Ritorna alla lista di tutte le scelte
                </a>
{% endblock container %}
