{% extends 'global/skeleton.html' %}

{% block pagename %}Scelta con token{% endblock pagename %}

{% block content %}

<div class="container">

    <div class="container text-center">
        <h2 class="fw-bold">Attenzione</h2>
    </div>

    <div class="container mt-5 mb-5">


        {%if tokennotfound == True %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Il token inserito è già stato utilizzato.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}


        {%if tokennotfound == False %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Il token inserito non è valido.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}


        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Si può accedere alla scelta richiesta solamente tramite token valido.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="d-grid gap-2">
            <form action="{% url 'apps.polls_management:poll_search' poll_id=poll.id %}" method="GET">
                {% comment %} <div class="d-grid gap-2 d-md-flex justify-content-md-start"> {% endcomment %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="tokensid">Inserire token valido</label>
                        <input type="text" id="tokensid" name="token" class="form-control" aria-describedby="tokenshelp">
                    </div>
                    <div class="col-md-6 mt-4">
                        <button type="submit" class="btn btn-success w-100">Vai alla Scelta</button>
                    </div>
                </div>
            </form>
        </div>

        {% if mj_not_used %}

        <br>

            <div class="fw-lighter fs-5 text-center">Puoi anche esprimere una preferenza mediante il metodo del giudizio maggioritario. Vuoi provare?</div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="d-grid gap-2 mt-2 w-100">
                        <a href="{% url 'apps.votes_results:majority_judgment_vote' poll_id=poll.id %}" 
                        class="btn btn-primary mt-2">Esprimi un giudizio</a>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

        {% endif %}

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="d-grid gap-2 mt-2 w-100">
                    <a href="{% url 'apps.votes_results:results' poll_id=poll.id %}" 
                        class="btn btn-secondary mt-2" 
                        role="button">Vedi risultati</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        {% if poll.votable_mj and poll.poll_type == "single_option"%}

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="d-grid gap-2 mt-2 w-100">
                    <a href="{% url 'apps.votes_results:majority_judgment_results' poll_id=poll.id %}" 
                        class="btn btn-secondary mt-2" 
                        role="button">Vedi risultati Giudizio Maggioritario</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        {% endif %}

    <br>

    </div>
</div>

<br>
<br>
<br>

{% endblock content %}