{% extends 'global/skeleton.html' %}

{% block pagename %}Esprimi il tuo voto{% endblock pagename %}

{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1>{{ poll.name }}</h1>
    <h2 class="text-info">Esprimi il tuo voto</h2>
</div>

<div class="container border">

    <div class="container my-3">
        <div class="row">
            <div class="col-md-auto">
                <p class="mb-0 fs-4 fw-bold">Domanda:</p>
            </div>
            <div class="col">
                <p class="mb-0 fs-4">{{ poll.question }}</p>
            </div>
        </div>
    </div>
    
    <div class="container mt-3">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
                Per votare un sondaggio con il metodo del giudizio maggioritario dai la tua opinione su ciascuna delle opzioni tramite 
                l'apposita scala di giudizi. Se vuoi farti un'idea di come funziona il metodo del giudizio maggioritario, 
                <a href="https://copernicani.it/eleggere-il-candidato-migliore/" target="_black">leggi questa breve guida</a>. Se 
                invece vuoi approfondire, 
                <a href="https://it.frwiki.wiki/wiki/Jugement_majoritaire#D%C3%A9partage_des_%C3%A9galit%C3%A9s" target="_black">qui</a>
                trovi il metodo matematico con cui verranno calcolati i risultati.
            </div>
        </div>
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            Per valutare una opzione <strong>seleziona un valore</strong> della scala di giudizi attraverso l'apposita check-box.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>  
 
    <div class="container mt-5 mb-5">
        <form action="{% url 'apps.polls_management:submit_vote' poll_id=poll.id %}" method="POST">

            {% csrf_token %}

            {% if error is not None %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            {# Form Options #}
            <div class="container md-3">

                {% for option in poll.options %}
                    <div class="form-check md-2">
                        <input class="form-check-input" type="radio" id="option-{{option.id}}"" name="vote" value="{{option.id}}"> 
                        <label class="form-check-label" for="option-{{option.id}}"" >
                            {{option.value}}
                        </label>
                    </div>
                {% endfor %}
            </div>

            {# Confirm button #}
            <div class="container mt-5">
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary">Conferma</button>
                </div>
            </div>

            
        </form>
    </div>
</div>
{% endblock content %}