{% extends 'global/skeleton.html' %}

{% block pagename %}Esprimi il tuo voto{% endblock pagename %}

{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1>{{ poll.name }}</h1>
    <h2 class="text-info">Esprimi il tuo voto</h2>
</div>

<div class="container border">

    <div class="container mt-5 mb-5">
        <p class="fw-bold fs-3 mb-0">Testo della domanda: </p>
        <h3>{{ poll.question }}</h3>
    </div>
    
    <div class="container mt-5 mb-5">
        <form action="{% url 'polls:submit_vote' poll_id=poll.id %}" method="POST">

            {% csrf_token %}

            {% if error is not None %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            {# Form Options #}
            <div class="container md-3">

                {% for option in poll.options %}
                    <div class="form-check md-2">
                        <input class="form-check-input" type="radio" id="option-{{option.id}}"" name="vote" value="{{option.id}}"> 
                        <label class="form-check-label" for="option-{{option.id}}"" >
                            {{option.value}}
                        </label>
                    </div>
                {% endfor %}
            </div>

            {# Confirm button #}
            <div class="container mt-5">
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary">Conferma</button>
                </div>
            </div>

            
        </form>
    </div>
</div>
{% endblock content %}