{% load static %}

<div class="row mt-2">
    <div class="col-12 text-center">
        <img src="{% static 'logo-scegli-meglio.png' %}" 
            alt="Logo Scegli Meglio | Scelte sociali giudizio maggioritario"
            style="width:90%; max-width: 400px;"/>
    </div>
</div> 
<div class="row mt-2 justify-content-md-center  justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-8 text-center">
        {% comment %} <h1>Scegli Meglio</h1> {% endcomment %}
        <h1 class="fw-light">Scelte sociali con il metodo del Giudizio Maggioritario</h1>
    </div>
</div>