{% load static %}

<div class="pt-5 pb-5 text-center" 
    style="background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 66%, rgba(101,199,181,1) 100%)">
    <img src="{% static 'logo-scegli-meglio.png' %}" 
        alt="Logo Scegli Meglio | Scelte sociali giudizio maggioritario"
        style="width:90%; max-width: 400px;"/>
    <h1 class="fw-light mt-3">
        Crea, condividi ed esprimi scelte sociali. 
    </h1>
    <h2 class="fw-light">
        Giudizio Maggioritario e Metodo di Schultze.
    </h2>
</div> 
