{% load are_results_visible %}

<div class="carousel-slider-container">
    <div class="carousel-slider d-flex flex-row flex-nowrap" id="{{id}}">
        
        {% for poll in polls %}
            <div class="card carousel-slider-card">
                <div class="card-body">
                    <h6 class="card-title">{{poll.name}}</h6>
                    <p class="card-subtitle mb-2 text-muted">{{poll.question}}</p>
                    

                    <div class="position-absolute bottom-0 start-0 end-0 p-2 ps-3 pe-3">
                        {% if not poll.is_closed and poll.is_open %}
                            <div class="col-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split text-secondary" viewBox="0 0 16 16">
                                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                </svg>
                                <span class="text-secondary ">{{poll.close_datetime|timeuntil}} rimanenti</span>
                            </div>
                        {% else %}
                            <div class="col-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split text-secondary" viewBox="0 0 16 16">
                                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                </svg>
                                <span class="text-secondary">Terminato {{poll.close_datetime|timesince}} fa</span>
                            </div>
                        {% endif %}
                        
                        <div class="d-flex justify-content-center mt-1">
                            {% if not poll.is_closed and poll.is_open %}
                                {% include "votes_results/components/vote_button.html" with poll=poll btn_classes="ms-1 me-1" %}
                            {% endif %}
                            
                            {% if poll|are_results_visible:request %}
                                <a href="{% url 'apps.votes_results:results' poll_id=poll.id %}" class="btn btn-secondary ms-1 me-1">Vedi risultati</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <div class="carousel-slider-button carousel-slider-left-arrow"
            onclick="scrollL('{{id}}')">
            <i class="arrow left"></i>
        </div>
        <div class="carousel-slider-button carousel-slider-right-arrow"
            onclick="scrollR('{{id}}')">
            <i class="arrow right"></i>
        </div>

    </div>
</div>