{% extends 'global/skeleton.html' %}

{% block pagename %}Attribuzioni varie{% endblock pagename %}

{% block content %}

<h1>Attribuzioni varie</h1>
<h2 class="mb-5">Attribuzioni varie contenuti Creative Commons, ecc.</h2>

<h3>Icone: </h3>

<ul class="list-group">
    <li class="list-group-item">
        Icona <a href="https://iconscout.com/icons/user" target="_blank">User Icon</a> 
        di <a href="https://iconscout.com/contributors/gajah-mada-studio">Mada Creative</a>, 
        da <a href="https://iconscout.com">IconScout</a>
    </li>
    <li class="list-group-item">
        Icona <a target="_blank" href="https://icons8.com/icon/121477/chiudi-macos">Chiudi Macos</a> 
        di <a target="_blank" href="https://icons8.com">Icons8</a>
    </li>
    <li class="list-group-item">
        Icona <a target="_blank" href="https://icons8.com/icon/83321/menu-cerchiato">Menu cerchiato</a> 
        di <a target="_blank" href="https://icons8.com">Icons8</a>
    </li>
    <li class="list-group-item">
        Icona <a target="_blank" href="https://icons8.com/icon/2445/logout">Logout</a> di 
        <a target="_blank" href="https://icons8.com">Icons8</a>
    </li>
    <li class="list-group-item">
        Icona <a target="_blank" href="https://icons8.com/icon/62888/plus-math">Plus Math</a> di
        <a target="_blank" href="https://icons8.com">Icons8</a>
    </li>
    <li class="list-group-item">
        Icona <a target="_blank" href="https://icons8.com/icon/98963/menu-vertical">Menu Vertical</a> di
        <a target="_blank" href="https:/icons8.com">Icons8</a>
    </li>
</ul>


{% endblock content %}