<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smooth Polls | {% block pagename %}{% endblock pagename %}</title>
    <meta name="description" 
        content="{% block metadescription %}{% endblock metadescription %}" >
 
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

    {# basic style #}
    <style>
        span.logo img {
            max-width: 380px;
            width: 100%;
        }

        .container404 img {
            max-width: 570px;
            width: 100%;
        }
        
        @media only screen and (max-width: 1023px) {
            .hide-mobile {
                display: none;
            }
        }

        .smooth-transitions {
            transition: all 0.2s ease-in;
        }
    </style>

    {% block pagestyle %}{% endblock pagestyle %}

    {% load static %}
    <script src="{% static 'js/jquery/jquery-3.6.2.min.js' %}"></script>
    
    <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- Icons -->
<link href="/static/css/nucleo-icons.css" rel="stylesheet" />
<link href="/static/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- CSS Files -->
<link id="pagestyle" href="/static/css/corporate-ui-dashboard.css" rel="stylesheet" />

</head>
<body class="body">
    {% block body %}{% endblock body %}

    {% bootstrap_javascript %}

    {# Custom JS #}
    {% block customjs %}{% endblock customjs %} 
</body>
</html>