<!DOCTYPE html>
<html lang="it">
<head>

    {% load static %}

    {% if GA_TAG %}
    <input type="hidden" id="jsTag" name="variable" value="{{ GA_TAG }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TAG }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', document.getElementById("jsTag").value);
        // console.log(document.getElementById("jsTag").value);
    </script>
    {% endif %}
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagename %}{% endblock pagename %} | Vota Meglio</title>
    <meta name="description" 
        content="{% block metadescription %}{% endblock metadescription %}" >
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}?v=2"/>

 
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

    {# basic style #}
    <style>
        span.logo img {
            max-width: 380px;
            width: 100%;
        }

        .container404 img {
            max-width: 570px;
            width: 100%;
        }
        
        @media only screen and (max-width: 1023px) {
            .hide-mobile {
                display: none;
            }
        }

        .smooth-transitions {
            transition: all 0.2s ease-in;
        }
    </style>

    {% block pagestyle %}{% endblock pagestyle %}

    {% load static %}
    <script src="{% static 'js/jquery/jquery-3.6.2.min.js' %}"></script>

</head>
<body class="body">
    {% block body %}{% endblock body %}

    {% bootstrap_javascript %}

    {# Custom JS #}
    {% block customjs %}{% endblock customjs %} 
</body>
</html>