<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smooth Polls | {% block pagename %}{% endblock pagename %}</title>
    <meta name="description" 
        content="{% block metadescription %}{% endblock metadescription %}" >
 
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Custom JS #}
    {% block customjs %}{% endblock customjs %}

</head>
<body class="body">
    {% block body %}{% endblock body %}
</body>
</html>