{% extends 'global/skeleton.html' %}

{% load static %}
{% load socialaccount %}

{% block pagename %}Scelte sociali{% endblock pagename %}

{% comment %}
    NOTE: home page overrides container and not content, 
    so we can use full page width
{% endcomment %}
{% block container %}

{% include "global/home_components/page_header.html" %}

<!-- MJ polls slider -->
<div class="container mt-5 mb-5" id="giudizio-maggioritario">
    <h2>Metodo Giudizio Maggioritario</h2>
    <h4 class="fw-light">
        Prova il metodo del Giudizio Maggioritario su queste scelte
    </h4>
    {% include "global/home_components/slider.html" with polls=majority_judgment_polls request=request id="mj-carousel" %}
</div>

<!-- MJ exmplaination -->
<div class="mb-5 pt-5 pb-5 bg-dark">
    <div class="container">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-12 col-md-6  text-center">
                <h3 class="fw-light text-light mb-4">
                    A volte, una scelta è più complicata di 
                    una preferenza singola.
                </h3>
            </div>
            <div class="col-12 col-md-6">
                <div class="card ms-md-5 me-md-5">
                    <div class="card-body bg-light">
                    {% comment %} <h3 class="card-title">Title</h3> {% endcomment %}
                    <p class="card-text text-secondary">
                        Il <strong class="text-dark">metodo del Giudizio Maggioritario</strong> 
                        permette di dare un giudizio a tutte le opzioni. L'algoritmo poi 
                        aggrega le preferenze di tutti e calcola i risultati migliori. 
                    </p>
                    <a href="#giudizio-maggioritario" class="btn btn-primary">
                        Provalo ora!
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Other vote types sliders -->
<div class="container pt-3 pb-3">    
    <h3 class="fw-light">Altri metodi di scelta</h3>
    <div class="mt-3">
        <h2 class="">Metodo di Schultze</h2>
        {% include "global/home_components/slider.html" with polls=schulze_method_polls request=request id="schulze-carousel" %}
    </div>

    <div class="mt-5">
        <h2 class="">Opzione singola</h2>
        {% include "global/home_components/slider.html" with polls=single_option_polls request=request id="so-carousel" %}
    </div>
</div>

<!-- Create an account and start creating your own polls -->

<div class="cut-edge-banner-background mt-5">
    <div class="cut-edge-banner pt-4 pb-4 pt-md-5 pb-md-5">
        <div class="container">
            
            <div style="max-width: 75%">
                <h2>Inizia a creare anche tu scelte sociali!</h2>
                <h6>Crea, gestisci e condividi le tue scelte.</h6>
            </div>
            
            <div class="mt-4">
                {% if user.is_authenticated %}
                    <a class="btn btn-success m-1" 
                        href="{% url 'apps.polls_management:poll_create' %}" >
                        Crea scelta
                    </a>
                    <a class="btn btn-secondary m-1" 
                        href="{% url 'apps.polls_management:all_user_polls' %}" >
                        Gestisci le tue scelte
                    </a>
                {% else %}
                    <p>Registrati o fai login e inizia a creare scelte.</p>

                    <!-- Google login button -->
                    <form action="{% provider_login_url 'google' %}?next={% url 'apps.polls_management:all_user_polls' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light border border-dark">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            Login con Google</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock container %}

{% block pagestyle %}
<link rel="stylesheet" href="{% static 'css/home-carousel.css' %}" />
<style>
    .cut-edge-banner-background {
        background-color: #0D6EFD;
    }

    .cut-edge-banner {
        background-color: #14255f;
        -webkit-clip-path: polygon(0 0, 75% 0, 90% 100%, 0 100%);
        clip-path: polygon(0 0, 75% 0, 90% 100%, 0 100%);
        color: #fff;
    }
</style>
{% endblock pagestyle %}

{% block customjs %}
<script src="{% static 'js/home-carousel.js' %}"></script>
{% endblock customjs %} 



