{% extends 'global/skeleton.html' %}

{% load static %}

{% block pagename %}Scelte sociali{% endblock pagename %}

{% block content %}
<div class="row mt-2">
    <div class="col-12 text-center">
        <img src="{% static 'logo-scegli-meglio.png' %}" 
            alt="Logo Scegli Meglio | Scelte sociali giudizio maggioritario"
            style="width:90%; max-width: 400px;"/>
    </div>
</div> 
<div class="row mt-2 justify-content-md-center  justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-8 text-center">
        {% comment %} <h1>Scegli Meglio</h1> {% endcomment %}
        <h1 class="fw-light">Scelte sociali con il metodo del Giudizio Maggioritario</h1>
    </div>
</div>

<div class="row mt-2 justify-content-md-center  justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-8 text-center fs-5 fw-lighter">
        <p>
            Il nostro obiettivo è fornire uno strumento efficace per 
            <strong>creare ed esprimere scelte sociali</strong>, 
            anche attraverso metodologie di scelta avanzate, come
            il <strong>Giudizio Maggioritario</strong>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-5 text-center">
        <p class=" fs-3 fw-light">
            Prova il <b>Metodo del Giudizio Maggioritario</b>
        </p>
    </div>
</div>
<div class="row">
    <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel"> 
        <div class="carousel-inner shadow-lg bg-body rounded">
            {% for poll in predefined_polls %}
                <div class="carousel-item {% if  forloop.counter == 1 %} active {% endif %}" data-bs-interval="10000">
                <div class="card w-100 border-0 pt-3 pb-3">
                    <div class="card-body text-center">
                        <h3 class="card-title">{{poll.name}}</h3>
                        <h4 class="card-subtitle mb-2 text-muted">{{poll.question}}</h4>
                            <p  class="fw-light mb-1 ">Stato scelta: <b>Aperto</b></p>
                            <p  class="fw-light mb-1 ">Data chiusura: <b>{{poll.close_datetime}}</b></p>
                    {% include "votes_results/components/vote_button.html" with poll=poll btn_classes="mt-2" %}
                    <a href="{% url 'apps.votes_results:majority_judgment_results' poll_id=poll.id %}" class="btn btn-secondary mt-2">Vai ai risultati</a>
                    </div>
                </div>
                </div>
            {% endfor %}
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
</div>
<div class="row mt-2 justify-content-md-center">
    <div class="col-md-6">
        <div class="d-grid gap-2 d-md-block text-center">
            <a name="" id="" role="button"
                class="btn  btn-outline-primary mt-2 me-2" 
                href="{% url 'apps.votes_results:votable_polls' %}?page=1&per_page=10" >
                Vai alle scelte
            </a>
            <a name="" id="" role="button"
                class="btn btn-outline-secondary mt-2 me-2" 
                href="https://github.com/SDF-Ingegneria-2022/smoothPoll/issues" 
                target="_blank">
                Lasciaci un Feedback
            </a> 
        </div>
    </div>
</div>
{% endblock content %}

