{% extends 'global/skeleton.html' %}

{% load socialaccount %}

{% block pagename %}Login richiesto{% endblock pagename %}

{% block content %}

{% if not user.is_authenticated %}

<div class="container">

    <div class="container text-center">
        <h2 class="fw-bold">Login</h2>
    </div>

    <div class="container mt-5 mb-5">

        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            L'operazione richiesta può essere eseguita solamente da un utente autenticato al sito.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    <br>

    <div class="container text-center">
        <h4>Accedi tramite la tua email di Google</h4>
    </div>
    
        <div class="container text-center md-5 mt-5">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <form action="{% provider_login_url 'google' %}" method="POST">

                    {% csrf_token %}
                    <button type="submit" class="btn btn-border border-dark">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Login con Google</button>
                </form>
                <a name="" id="" role="button"
                    class="btn btn-primary" 
                    href="{% url 'home' %}" >
                    Torna alla home
                </a>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container">

    <div class="container text-center">
        <h2 class="fw-bold">Scelta con Login</h2>
    </div>

    <div class="container mt-5 mb-5">

        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            La scelta o il giudizio sono già stati registrati.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% if mj_not_used %}

            <div class="fw-lighter fs-5">Puoi anche esprimere una preferenza mediante il metodo del giudizio maggioritario. Vuoi provare?</div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'apps.votes_results:majority_judgment_vote' poll_id=poll.id %}" 
                class="btn btn-primary mt-2">Esprimi un giudizio</a>
            </div>

        {% endif %}

        {% if poll.is_votable_google %}

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'apps.votes_results:results' poll_id=poll.id %}" 
                    class="btn btn-secondary mt-2" 
                    role="button">Vedi risultati</a>
            </div>

            {% if poll.votable_mj and poll.poll_type == "single_option"%}
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'apps.votes_results:majority_judgment_results' poll_id=poll.id %}" 
                    class="btn btn-secondary mt-2" 
                    role="button">Vedi risultati Giudizio Maggioritario</a>
            </div>
            {% endif %}
            
        {% endif %}

    </div>
    
</div>

{% endif %}

<br>
<br>
<br>

{% endblock content %}