{% extends 'global/base.html' %}

{% block body %}

<div class="d-flex" id="wrapper">

    <!-- Sidebar wrapper -->
    <div id="sidebar-wrapper">
        {# Sidebar (you can override it) #}
        {% block sidebar %}
        {% include "global/components/skeleton/sidebar.html" %}
        {% endblock sidebar %}
    </div>

    <!-- Page wrapper (all page except sidebar) -->
    <div id="page-content-wrapper">

        <!-- Shadow overlay showed on mobile when sidebar is open -->
        <div id="page-content-overlay" class="sidebar-toggler"></div>

        {# Page header (you can override it) #}
        {% block header %}
        {% include "global/components/skeleton/header.html" %}
        {% endblock header %}

        {# Page container (you can override it) #}
        {% block container %}
            <div class="container pt-5 pb-5">
                {# Page content (proper page content, specific for each page) #}
                {# Use hineritance (extends) to define it #}

                <!-- Page content -->
                {% block content %}{% endblock content %}
            </div>
        {% endblock container %}

        {# Page footer (you can override it) #}
        {% block footer %}
        {% include "global/components/skeleton/footer.html" %}
        {% endblock footer %}
    </div>
</div>

{% endblock body %}




