{% load static %}
<!-- Copy link -->
<div class="input-group" style="max-width: 400px;">
    <input  id="bar"
            type="text" 
            readonly 
            class="form-control"
            value="{{request.get_host}}{% url 'poll_details_page' poll_short_id=poll.short_id %}"/>
    <button 
            class="btn btn-secondary" 
            data-clipboard-action="copy" 
            data-clipboard-target="#bar">
            <img src="{% static 'icon/copy.png' %}">
    </button>
</div>
