{% comment %}
    PAGINATION "per_page" CONTROL 

    Given a "page" object and a "per_page" value, it 
    permits user to choose how many elements per page
    view.

{% endcomment %}

<div class="dropdown" >
    <a class="btn btn-secondary dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Per pagina : {{per_page}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"> 
        <li><a class="dropdown-item {% if per_page == 10 %} active {%endif%}" href="?page={{page.number}}&per_page={{10}}">10</a></li>
        <li><a class="dropdown-item {% if per_page == 15 %} active {%endif%}" href="?page={{page.number}}&per_page={{15}}">15</a></li>
        <li><a class="dropdown-item {% if per_page == 20 %} active {%endif%}" href="?page={{page.number}}&per_page={{20}}">20</a></li>
    </ul>
</div>