{% load static %}
{% load socialaccount %}


<div class="p-2 border border-dark rounded bg-white">
    {% if user.is_authenticated %}

        <div class="row">
            <div class="col-4">
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" 
                    alt="Icona Google di {{ user.username }}" 
                    class="rounded-circle border border-secondary border-2" 
                    style="height: 80px; width: 80px;" />
            </div>
            <div class="col-8 align-middle">
                <p class="mb-0">Ciao {{ user.username }}</p>
                <form action="{% url 'account_logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
        </div>

    {% else %}

        <h4>Registrati o fai login</h4>
        <p class="text-secondary">
            Collegati con Google 
            per accedere a tutte le funzionalità!
        </p>

        <!-- Google login button -->
        <form action="{% provider_login_url 'google' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-light border border-dark">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login con Google</button>
        </form>
    {% endif %}
</div>