{% extends 'global/skeleton.html' %}

{% block pagename %}Visualizza i risultati{% endblock pagename %}

{% block content %}
<div class="container text-left">
    
    <div class="row">
        {# Title #}
        <div class="col-8">
            <h1> Tutti i sondaggi</h1>
        </div>
        {# New poll botton #}
        <div class="col-4">
            <button type="button" class="btn btn-success float-end w-45 mt-3 ">Nuovo sondaggio</button>
        </div>
    </div>
    <hr class="mb-0"/>
    <div class="row justify-content-end ">
        {# New poll botton #}
       

        {# Page navigation bar #}
        <div class="col-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination float-end mt-3">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{{page.number|add:-1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                    {% endif %} 
                        <li class="page-item"><a class="page-link " href="{{page.number}}">{{page.number}}</a></li>

                    {% if page.has_next %}
                    <li class="page-item">
                    
                        <a class="page-link" href="{{page.number|add:1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    
    {# Poll list#}
    <div class="list-group">
        {% for poll in page.object_list %}
            <div class="d-grid">
            <div class="row p-2 rounded border mb-2">
                <div class="col-6">
                <p  class="fw-bold m-0"> {{poll.name}} </p>
                <p class="text-muted m-0" > {{poll.question}} </p>
                
                </div>
                <div class="col-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2 mt-2" type="button">Vai al voto</button>
                    <button class="btn btn-secondary mt-2" type="button">Vai al risultato</button>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {# Page navigation bar #}
    <div class="row justify-content-end ">
        <div class="col-4">
           <nav aria-label="Page navigation example">
                <ul class="pagination float-end mt-3">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{{page.number|add:-1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                    {% endif %} 
                        <li class="page-item"><a class="page-link " href="{{page.number}}">{{page.number}}</a></li>

                    {% if page.has_next %}
                    <li class="page-item">
                    
                        <a class="page-link" href="{{page.number|add:1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock content %}