{% extends 'global/skeleton.html' %}

{% block pagename %}Visualizza i risultati{% endblock pagename %}

{% block content %}
<div class="container text-left">
    
    <div class="row">
        {# Title #}
        <div class="col-md-8">
            <h1> Tutti i sondaggi</h1>
        </div>
        {# New poll botton #}
        <div class="col-md-4"> 
            <a href="{% url 'polls:create_poll_form' %}"class="btn btn-success float-end w-45 mt-3 " role="button">Nuovo sondaggio</a>
        </div>
    </div>
    <hr class="mb-0"/>
    <div class="row justify-content-end ">
        <div class="col-xl-3">
            <div class="dropdown mt-3 ms-5">
                <a class="btn btn-secondary dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Elementi per pagina : {{per_page}}
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item {% if per_page == 10 %} active {%endif%}" href="?page={{page.number}}&per_page={{10}}">10</a></li>
                    <li><a class="dropdown-item {% if per_page == 15 %} active {%endif%}" href="?page={{page.number}}&per_page={{15}}">15</a></li>
                    <li><a class="dropdown-item {% if per_page == 20 %} active {%endif%}" href="?page={{page.number}}&per_page={{20}}">20</a></li>
                </ul>
            </div>
        </div>
        {# Page navigation bar #}
        <div class="col-xl-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination float-end mt-3">
                    {% if page.has_previous %}
    
                        <li class="page-item ">
                            <a class="page-link" href="?page={{page.previous_page_number}}&per_page={{per_page}}" tabindex="-1" aria-disabled="true">Precedente</a>
                        </li>
                        <li class="page-item"><a class="page-link " href="?page={{page.previous_page_number}}&per_page={{per_page}}">{{page.previous_page_number}}</a></li>
                    {% else %}
                        <li class="page-item  disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Precedente</a>
                        </li>
                    {% endif %} 
                        <li class="page-item active"><a class="page-link " href="?page={{page.number}}&per_page={{per_page}}">{{page.number}}</a></li>

                    {% if page.has_next %}
                        <li class="page-item"><a class="page-link " href="?page={{page.next_page_number}}&per_page={{per_page}}">{{page.next_page_number}}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{page.next_page_number}}&per_page={{per_page}}">Successiva</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Successiva</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    
    {# Poll list#}
    <div class="list-group">
        
    {% for poll in page.object_list %}
        
            <div class="d-grid">
            <div class="row p-2 rounded border mb-2">
                <div class="col-6">
                <p  class="fw-bold m-0"> {{poll.name}} </p>
                <p class="text-muted m-0" > {{poll.question}} </p>
                
                </div>
                <div class="col-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'polls:get_poll' poll_id=poll.id %}" class="btn btn-primary me-md-2 mt-2" role="button">Vai al voto</a>
                    <a href="{% url 'polls:results' poll_id=poll.id %}"class="btn btn-secondary me-md-2 mt-2"  role="button">Vai al risultato</a>
                    {% comment %} Button for modifying and deleting polls {% endcomment %}
                    <div class="dropdown d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-secondary mt-2 float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenuButton1">
                            {% comment %} <li><a class="dropdown-item" href="#">Modifica sondaggio</a></li> {% endcomment %}
                            <li><a class="dropdown-item " data-bs-toggle="modal" data-bs-target="#deletepoll">Elimina sondaggio</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="fs-3 fw-bold mt-5"> Attualmente non ci sono sondaggi! </p>
        
    {% endfor %}
    </div>

    {# Page navigation bar #}
    <div class="row justify-content-end ">
        <div class="col-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination float-end mt-3">
                    {% if page.has_previous %}
    
                        <li class="page-item ">
                            <a class="page-link" href="?page={{page.previous_page_number}}&per_page={{per_page}}" tabindex="-1" aria-disabled="true">Precedente</a>
                        </li>
                        <li class="page-item"><a class="page-link " href="?page={{page.previous_page_number}}&per_page={{per_page}}">{{page.previous_page_number}}</a></li>
                    {% else %}
                        <li class="page-item  disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Precedente</a>
                        </li>
                    {% endif %} 
                        <li class="page-item active"><a class="page-link " href="?page={{page.number}}&per_page={{per_page}}">{{page.number}}</a></li>

                    {% if page.has_next %}
                        <li class="page-item"><a class="page-link " href="?page={{page.next_page_number}}&per_page={{per_page}}">{{page.next_page_number}}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{page.next_page_number}}&per_page={{per_page}}">Successiva</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Successiva</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% comment %} Popup for deleting a poll {% endcomment %}

<div class="modal fade" id="deletepoll" tabindex="-1" aria-labelledby="deletepoll" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title" id="deletepoll">Cancellazione sondaggio</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-warning text-dark">
                <h5 class="modal-title" id="deletepoll">Sei sicuro di volere cancellare questo sondaggio?</h5>
            </div>
            <div class="modal-footer">
                <div class="alert alert-info text-center" role="alert">
                    Attenzione: un sondaggio può essere eliminato soltanto se
                    non è ancora stato registrato nessun voto 
                </div>
                <button type="button" class="btn btn-primary" data-bs-target="#deletepollsuccess" data-bs-toggle="modal" data-bs-dismiss="modal">Conferma</button>
                {% comment %} Insert operations to toggle success or error popup after trying to delete poll {% endcomment %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
            </div>
        </div>
    </div>
</div>

{% comment %} Popup for success of operation of delete poll {% endcomment %}

<div class="modal fade" id="deletepollsuccess" tabindex="-1" aria-labelledby="deletepollsuccess" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title" id="deletepollsuccess">Cancellazione sondaggio</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-success text-white">
                <h5 class="modal-title" id="deletepollsuccess">Il sondaggio è stato cancellato con successo! </h5>
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary">Continua</button>
            </div>
        </div>
    </div>
</div>

{% comment %} Popup for error of operation of delete poll {% endcomment %}

<div class="modal fade" id="deletepollerror" tabindex="-1" aria-labelledby="deletepollerror" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title" id="deletepollerror">Cancellazione sondaggio</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-danger text-white">
                <h5 class="modal-title" id="deletepollerror"> Non è stato possibile cancellare il sondaggio in quanto sono già stati
                registrati dei voti. </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continua</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
