{% extends 'global/base.html' %}

{% block pagename %}Voto confermato{% endblock pagename %}

{% block content %}

<div class="container text-center">
    <h1>Nome del sondaggio</h1>
    <h2>Grazie di aver votato!</h2>
</div>

<div class="container">

    <h3 class="success">Grazie di aver votato! Abbiamo registrato il tuo voto.</h3>
    <p class="secondary">Quando il sondaggio sarà chiuso, potrai vedere i risultati</p>

    <h4>Questito del sondaggio: </h4>
    <p>Domanda del sondaggio</p>

    <h4>Opzione scelta: </h4>
    <p>{{ choice }}</p>

</div>

{% endblock content %}