{% load static %}
<div class="rounded border mb-2 p-1">
    <div class="row align-items-center w-100 g-0">
        <!-- Part of the item always visible -->
        <div class="col-11 col-md-4">
            {% block always_visible %}
            {% endblock always_visible %}
        </div>
        <div class="col-1 d-md-none text-end">
            <!-- mobile trigger action -->
            <a
                data-bs-toggle="collapse" data-bs-target=".mobile-hidden-poll-{{poll.id}}" 
                aria-expanded="false" 
                aria-controls="mobile-hidden-poll-{{poll.id}} always-hidden-poll-{{poll.id}}">
                <img src="{% static 'icon/3-dots-menu.png' %}" style="width:25px">
            </a>
        </div>
        <!-- Part of the item hidden on mobile
        (visible only when item is triggered) -->
        <div id="mobile-hidden-poll-{{poll.id}}" 
            class="collapse d-md-inline-block col-md-7 mobile-hidden-poll-{{poll.id}}">
            {% block hidden_mobile %}
            {% endblock hidden_mobile %}
        </div>
        <div class="d-none col-md-1 d-md-block text-end">
            <!-- desktop trigger action -->
            <a 
                data-bs-toggle="collapse" data-bs-target="#always-hidden-poll-{{poll.id}}" 
                aria-expanded="false" aria-controls="always-hidden-poll-{{poll.id}}">
                <img src="{% static 'icon/3-dots-menu.png' %}" style="width:25px">
            </a>
        </div>
    
    </div>

        <!-- Part of the item always hidden 
    (visible only when item is triggered) -->
    <div id="always-hidden-poll-{{poll.id}}" 
        class="collapse mobile-hidden-poll-{{poll.id}}" >
        {% block always_hidden %}
        {% endblock always_hidden %}
    </div>
</div>









