{% extends 'polls_management/components/list/generic_listitem.html' %}

{% comment %}

    POLL as a LIST ITEM 

    html code of a single poll in a list of many poll.author
    
    Required variables:
    - poll <-- the poll object you wanna display
{% endcomment %}

{% block always_visible %}
    <p class="fw-bold m-0 text-truncate"> {{poll.name}} </p>
    <p class="text-muted m-0 text-truncate" > {{poll.question}} </p>
{% endblock always_visible %}

{% block hidden_mobile %}
    <div class="row align-items-center text-md-center mt-3 mt-md-0">
        <div class="col-12 col-md-4">
            <p class="m-0">
                <span class="text-secondary d-md-none">
                    Stato attuale: 
                </span>
                <span class="fw-bold" style="color:{{poll.get_state_color}}">
                    {{poll.get_state_label}}
                </span>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p class="m-0">
                <span class="text-secondary d-md-none">
                    Apertura: 
                </span>
                <span class="">
                    {{poll.open_datetime|default:"-"}}
                </span>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p class="m-0">
                <span class="text-secondary d-md-none">
                    Chiusura: 
                </span>
                <span class="">
                    {{poll.close_datetime|default:"-"}}
                </span>
            </p>
        </div>
    </div>
{% endblock hidden_mobile %}

{% block always_hidden %}
    <div class="w-md-25 float-md-end float-start mt-3">
        {% if not poll.is_open and not poll.is_closed %}
            <a href="{% url 'apps.polls_management:poll_edit' poll_id=poll.id %}" 
                class="btn btn-warning mt-2 w-100 {% if poll.is_open %}disabled{% endif %}" 
                role="button">Modifica</a>
            <a data-bs-toggle="modal" data-bs-target="#deletepoll-{{poll.id}}" 
                class="btn btn-danger mt-2 w-100 {% if poll.is_open %}disabled{% endif %}"  
                role="button">Elimina</a>
            <a data-bs-toggle="modal" data-bs-target="#openpoll-{{poll.id}}" 
                class="btn btn-primary mt-2 w-100 {% if poll.is_open %}disabled{% endif %}"  
                role="button">Apri ora</a>
        {% endif %}
        {% if poll.is_open and not poll.is_closed %}
            {% include "votes_results/components/vote_button.html" with poll=poll btn_classes="mt-2 w-100" %}
        {% endif %}
        {% if poll.is_open %}
            <a href="{% url 'apps.votes_results:results' poll_id=poll.id %}" 
                class="btn btn-secondary mt-2 w-100" 
                role="button">Vedi risultati</a>
            {% if poll.votable_mj and poll.poll_type == "single_option" %}
                <a href="{% url 'apps.votes_results:majority_judgment_results' poll_id=poll.id %}" 
                    class="btn btn-secondary mt-2 w-100" 
                    role="button">Vedi risultati Giudizio Maggioritario</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'apps.polls_management:poll_details' poll_id=poll.id %}" 
            class="btn btn-light mt-2 w-100" 
            role="button">Vedi dettagli</a>
        
        <button class="btn btn-info mt-2 w-100" 
                data-clipboard-text="{{request.get_host}}{% url 'poll_details_page' poll_short_id=poll.short_id %}"> 
        Copia link 
        </button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Condividi 
        </button>
    </div>
   
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- Sharingbutton Facebook -->
    <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsceglimeglio.site%2F" target="_blank" rel="noopener" aria-label="Share on Facebook">
        <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm3.6 11.5h-2.1v7h-3v-7h-2v-2h2V8.34c0-1.1.35-2.82 2.65-2.82h2.35v2.3h-1.4c-.25 0-.6.13-.6.66V9.5h2.34l-.24 2z"/></svg>
        </div>Share on Facebook</div>
    </a>
    
    <!-- Sharingbutton Twitter -->
    <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Condividi%20questa%20scelta%20sociale!&amp;url=http%3A%2F%2Fsceglimeglio.site%2F" target="_blank" rel="noopener" aria-label="Share on Twitter">
        <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm5.26 9.38v.34c0 3.48-2.64 7.5-7.48 7.5-1.48 0-2.87-.44-4.03-1.2 1.37.17 2.77-.2 3.9-1.08-1.16-.02-2.13-.78-2.46-1.83.38.1.8.07 1.17-.03-1.2-.24-2.1-1.3-2.1-2.58v-.05c.35.2.75.32 1.18.33-.7-.47-1.17-1.28-1.17-2.2 0-.47.13-.92.36-1.3C7.94 8.85 9.88 9.9 12.06 10c-.04-.2-.06-.4-.06-.6 0-1.46 1.18-2.63 2.63-2.63.76 0 1.44.3 1.92.82.6-.12 1.95-.27 1.95-.27-.35.53-.72 1.66-1.24 2.04z"/></svg>
        </div>Share on Twitter</div>
    </a>
    
    <!-- Sharingbutton Tumblr -->
    <a class="resp-sharing-button__link" href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title=Condividi%20questa%20scelta%20sociale!&amp;caption=Condividi%20questa%20scelta%20sociale!&amp;content=http%3A%2F%2Fsceglimeglio.site%2F&amp;canonicalUrl=http%3A%2F%2Fsceglimeglio.site%2F&amp;shareSource=tumblr_share_button" target="_blank" rel="noopener" aria-label="Share on Tumblr">
        <div class="resp-sharing-button resp-sharing-button--tumblr resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <path d="M12,0C5.383,0,0,5.383,0,12s5.383,12,12,12s12-5.383,12-12S18.617,0,12,0z M15.492,17.616C11.401,19.544,9.5,17,9.5,14.031 V9.5h-2V8.142c0.549-0.178,1.236-0.435,1.627-0.768c0.393-0.334,0.707-0.733,0.943-1.2c0.238-0.467,0.401-0.954,0.49-1.675H12.5v3h2 v2h-2v3.719c0,2.468,1.484,2.692,2.992,1.701V17.616z"/>
        </svg>
        </div>Share on Tumblr</div>
    </a>
    
    <!-- Sharingbutton E-Mail -->
    <a class="resp-sharing-button__link" href="mailto:?subject=Condividi%20questa%20scelta%20sociale!&amp;body=http%3A%2F%2Fsceglimeglio.site%2F" target="_self" rel="noopener" aria-label="Share by E-Mail">
        <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm8 16c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2v8z"/><path d="M17.9 8.18c-.2-.2-.5-.24-.72-.07L12 12.38 6.82 8.1c-.22-.16-.53-.13-.7.08s-.15.53.06.7l3.62 2.97-3.57 2.23c-.23.14-.3.45-.15.7.1.14.25.22.42.22.1 0 .18-.02.27-.08l3.85-2.4 1.06.87c.1.04.2.1.32.1s.23-.06.32-.1l1.06-.9 3.86 2.4c.08.06.17.1.26.1.17 0 .33-.1.42-.25.15-.24.08-.55-.15-.7l-3.57-2.22 3.62-2.96c.2-.2.24-.5.07-.72z"/></svg></div>Share by E-Mail</div>
    </a>
    
    <!-- Sharingbutton WhatsApp -->
    <a class="resp-sharing-button__link" href="whatsapp://send?text=Condividi%20questa%20scelta%20sociale!%20http%3A%2F%2Fsceglimeglio.site%2F" target="_blank" rel="noopener" aria-label="Share on WhatsApp">
        <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><path d="m12 0c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm0 3.8c2.2 0 4.2 0.9 5.7 2.4 1.6 1.5 2.4 3.6 2.5 5.7 0 4.5-3.6 8.1-8.1 8.1-1.4 0-2.7-0.4-3.9-1l-4.4 1.1 1.2-4.2c-0.8-1.2-1.1-2.6-1.1-4 0-4.5 3.6-8.1 8.1-8.1zm0.1 1.5c-3.7 0-6.7 3-6.7 6.7 0 1.3 0.3 2.5 1 3.6l0.1 0.3-0.7 2.4 2.5-0.7 0.3 0.099c1 0.7 2.2 1 3.4 1 3.7 0 6.8-3 6.9-6.6 0-1.8-0.7-3.5-2-4.8s-3-2-4.8-2zm-3 2.9h0.4c0.2 0 0.4-0.099 0.5 0.3s0.5 1.5 0.6 1.7 0.1 0.2 0 0.3-0.1 0.2-0.2 0.3l-0.3 0.3c-0.1 0.1-0.2 0.2-0.1 0.4 0.2 0.2 0.6 0.9 1.2 1.4 0.7 0.7 1.4 0.9 1.6 1 0.2 0 0.3 0.001 0.4-0.099s0.5-0.6 0.6-0.8c0.2-0.2 0.3-0.2 0.5-0.1l1.4 0.7c0.2 0.1 0.3 0.2 0.5 0.3 0 0.1 0.1 0.5-0.099 1s-1 0.9-1.4 1c-0.3 0-0.8 0.001-1.3-0.099-0.3-0.1-0.7-0.2-1.2-0.4-2.1-0.9-3.4-3-3.5-3.1s-0.8-1.1-0.8-2.1c0-1 0.5-1.5 0.7-1.7s0.4-0.3 0.5-0.3z"/></svg>
        </div>Share on WhatsApp</div>
    </a>
    
    <!-- Sharingbutton Telegram -->
    <a class="resp-sharing-button__link" href="https://telegram.me/share/url?text=Condividi%20questa%20scelta%20sociale!&amp;
            url={{request.get_host}}/{{poll.short_id}}" 
    target="_blank" rel="noopener" aria-label="Share on Telegram">
        <div class="resp-sharing-button resp-sharing-button--telegram resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 23.5c6.35 0 11.5-5.15 11.5-11.5S18.35.5 12 .5.5 5.65.5 12 5.65 23.5 12 23.5zM2.505 11.053c-.31.118-.505.738-.505.738s.203.62.513.737l3.636 1.355 1.417 4.557a.787.787 0 0 0 1.25.375l2.115-1.72a.29.29 0 0 1 .353-.01L15.1 19.85a.786.786 0 0 0 .746.095.786.786 0 0 0 .487-.573l2.793-13.426a.787.787 0 0 0-1.054-.893l-15.568 6z" fill-rule="evenodd"/></svg>
        </div>Share on Telegram</div>
    </a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Popup to confirm deletion of poll w id={{poll.id}} -->
    <div class="modal fade" id="deletepoll-{{poll.id}}" tabindex="-1" 
        aria-labelledby="deletepollabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Cancellazione elemento</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-warning text-dark">
                    <h5 class="modal-title">Sei sicuro di volere cancellare questa scelta?</h5>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-info text-center" role="alert">
                        Attenzione, l'operazione è definitiva.
                    </div>
                    <form action="{% url 'apps.polls_management:poll_delete' poll_id=poll.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Conferma</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup to confirm open of poll w id={{poll.id}} -->
    <div class="modal fade" id="openpoll-{{poll.id}}" tabindex="-1" 
        aria-labelledby="openpollabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Apertura</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-warning text-dark">
                    <h5 class="modal-title">Sei sicuro di volere aprire adesso questa scelta?</h5>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-info text-center" role="alert">
                        Attenzione: una scelta dopo che viene aperta
                        non può più essere eliminata o modificata
                    </div>
                    <form action="{% url 'apps.polls_management:poll_open' poll_id=poll.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Apri adesso</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
                </div>
            </div>
        </div>
    </div>
{% endblock always_hidden %}



