<footer>
    
    <!-- App name + quick links -->
    <div class="bg-secondary text-light"> 
        <div class="container p-3">
            <p class="text-center m-0">
                Scegli Meglio @ {% now "Y" %} - Progetto didattico di Ing. del Software <br />
                Università degli Studi di Udine, A.A. 2022/23 

                <!-- Iubenda Privacy Policy -->
                {% include "global/components/iubenda_privacy_link.html" %}
            </p>
        </div>
    </div>

    <!-- Repo + project version -->
    <div class="bg-dark text-light">
        <div class="container p-2">
            <p class="text-center m-0">
                Repository progetto: 
                <a target="_blank" title="Github Repository SmoothPoll"
                    href="https://github.com/SDF-Ingegneria-2022/smoothPoll" >
                    https://github.com/SDF-Ingegneria-2022/smoothPoll</a> 
                <span class="badge bg-secondary">v{{APP_VERSION}}</span>
            </p>
        </div>
    </div>

</footer>