<!-- Poll name -->
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Nome scelta:</div>
    </div>
    <div class="col ">
        <div class="fs-5 fw-light mt-1">{{ poll.name }}</div>
    </div>
</div>

<!-- Asked question -->
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div  class="fs-4" >Domanda posta:</div>
    </div>
    <div class="col">
        <div  class="fs-5 fw-light mt-1" >{{ poll.question }}</div>
    </div>
</div>

<!-- Possible choices -->
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div  class="fs-4" >Opzioni tra cui scegliere:</div>
        <hr class="m-1">
        {% for option in poll.options %}
            <div class="fw-light fs-5">
                <b>{{forloop.counter}}.</b> {{ option.value }}
            </div>
        {% endfor %}
    </div>
</div>

<!-- Poll type -->
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Metodo di voto:</div>
    </div>
    <div class="col">
        <div class="fw-light fs-5 mt-1">{{ poll.get_type_verbose_name }}</div>
    </div>
</div>

<!-- Poll status: it can be open, closed or not already open -->
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Stato della scelta:</div>
    </div>
    <div class="col">
        {% if poll.is_open %}
            {% if not poll.is_closed %}
                <div class="fw-light fs-5 mt-1 text-success">Aperta al voto</div>
            {% else %}
                <div class="fw-light fs-5 mt-1 text-danger">Chiusa (votazione terminata)</div>
            {% endif %}
        {% else %}
            <div class="fw-light fs-5 mt-1 text-info">Non ancora aperta</div>
        {% endif %}
    </div>
</div>


{% if poll.open_datetime %}
    <!-- Open and close datetimes -->
    <div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
        <div class="col-md-auto pe-0 ">
            <dic  class="fs-4" >Apertura al voto: 
            </div> 
        <div class="col">
            <div class="fw-light fs-5 mt-1">
                {{ poll.open_datetime }}
            </div>
        </div>
    </div>
    <div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
        <div class="col-md-auto pe-0">
            <div  class="fs-4">Termine votazioni: </div>
        </div>
        <div class="col">
            <div class="fw-light fs-5 mt-1">
                {{ poll.close_datetime }}
            </div>
        </div>
    </div>
{% endif %}