{% comment %} List of actions a poll owner can do on a poll {% endcomment %}

{% load socialaccount %}

<div class="row mt-4">
    <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

            <!-- Go back to all polls link -->
            <a name="" id="" role="button"
                class="btn btn-primary m-2" 
                href="{% url 'apps.polls_management:all_user_polls' %}?page=1&per_page=10" >
                Ritorna alla lista di tutte le scelte
            </a>

            {% if not poll.is_open and not poll.is_closed and user == poll.author %}

                <!-- Edit poll action -->
                <a name="" id="" role="button"
                    class="btn btn-warning m-2" 
                    href="{% url 'apps.polls_management:poll_edit' poll_id=poll.id %}" >
                    Modifica scelta
                </a>

                <!-- Delete poll action -->
                <form action="{% url 'apps.polls_management:poll_delete' poll_id=poll.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-danger m-2">Elimina scelta</button>
                    </div>
                </form>

                <!-- Open now poll action -->
                <form action="{% url 'apps.polls_management:poll_open' poll_id=poll.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success m-2">Apri ora</button>
                    </div>
                </form>
            {% endif%}
        </div>
    </div>     
</div>

<br>

{% if poll.votable_token %}

<div class="container">

    <div class="text-center fs-4">Area dedicata alla gestione dei Token</div>
    <br>
    <div class="fs-5 text-left">Lista dei Token attualmente disponibili</div>
    <div class="form-outline">
        <textarea class="form-control" id="textAreaExample1" rows="8">{% if token_list %}{% for available_token in token_list %}{{available_token}}
{% endfor %}
{% endif %}
        </textarea>
        <label class="form-label" for="textAreaExample"></label>
    </div>

    <div class="d-grid gap-2">
        <form action="{% url 'apps.polls_management:poll_tokens' poll_id=poll.id %}" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <div class="text-left fs-5">Quanti Token vuoi generare?</div>
                <input type="text" name="tokens">
                <button type="submit" class="btn btn-success m-2">Genera Token</button>
            </div>
        </form>
    </div>

<br>

    <div class="d-grid gap-2">
        <form action="{% url 'apps.polls_management:delete_poll_tokens' poll_id=poll.id %}" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="submit" class="btn btn-danger m-2">Invalida tutti i Token, sia esistenti che già usati</button>
            </div>
        </form>
    </div>

</div>

{% endif %}