
<!-- Poll name -->
{%if poll_info_to_view is None  or poll_info_to_view.name == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Nome scelta:</div>
    </div>
    <div class="col ">
        <div class="fs-5 fw-light mt-1">{{ poll.name }}</div>
    </div>
</div>
{%endif%}

<!-- Asked question -->
{%if poll_info_to_view is None  or poll_info_to_view.question == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div  class="fs-4" >Domanda posta:</div>
    </div>
    <div class="col">
        <div class="fs-5 fw-light mt-1" >{{ poll.question }}</div>
    </div>
</div>
{%endif%}

<!-- Possible choices -->
{%if poll_info_to_view is None  or poll_info_to_view.choices == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div  class="fs-4" >Opzioni tra cui scegliere:</div>
        <hr class="m-1">
        <div class="fw-light fs-5">
            <ul>
                {% for option in poll.options %}
                    <li>{{ option.value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{%endif%}

<!-- Poll type -->
{%if poll_info_to_view is None  or poll_info_to_view.type == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Tipologia di scelta:</div>
    </div>
    <div class="col">
        <div class="fw-light fs-5 mt-1">
            {{ poll.get_type_verbose_name }}
            {% if poll.is_votable_w_so_and_mj %}
                <span>(giudicabile anche con Giudizio Maggioritario)</span>
            {% endif %}
        </div>
    </div>
</div>
{%endif%}

<!-- Poll status: it can be open, closed or not already open -->
{%if poll_info_to_view is None  or poll_info_to_view.status == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Stato della scelta:</div>
    </div>
    <div class="col">
        {% if poll.is_open %}
            {% if not poll.is_closed %}
                <div class="fw-light fs-5 mt-1 text-success">Aperta</div>
            {% else %}
                <div class="fw-light fs-5 mt-1 text-danger">Chiusa</div>
            {% endif %}
        {% else %}
            <div class="fw-light fs-5 mt-1 text-info">Non ancora aperta</div>
        {% endif %}
    </div>
</div>
{%endif%}

<!-- Open and close datetimes -->
{%if poll_info_to_view is None  or poll_info_to_view.datetimes == True%}
    {% if poll.open_datetime %}
        
        <div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
            <div class="col-md-auto pe-0 ">
                <dic  class="fs-4" >Data di apertura: 
                </div> 
            <div class="col">
                <div class="fw-light fs-5 mt-1">
                    {{ poll.open_datetime }}
                </div>
            </div>
        </div>
        <div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
            <div class="col-md-auto pe-0">
                <div  class="fs-4">Data di chiusura: </div>
            </div>
            <div class="col">
                <div class="fw-light fs-5 mt-1">
                    {{ poll.close_datetime }}
                </div>
            </div>
        </div>
    {% endif %}
{%endif%}
<!-- Poll vote mode: it can be with token or without  -->
{%if poll_info_to_view is None  or poll_info_to_view.status == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Modalità di voto:</div>
    </div>
    <div class="col">
        {% if poll.is_votable_token %}
            <div class="fw-light fs-5 mt-1 text-success">Tramite token</div>
        {% elif poll.is_votable_google %}
            <div class="fw-light fs-5 mt-1 text-success">Tramite Google</div>
        {% else %}
            <div class="fw-light fs-5 mt-1 text-info">Accesso libero</div>
        {% endif %}
    </div>
</div>
{%endif%}

<!-- Poll vote mode: it can be with token or without  -->
{%if poll_info_to_view is None  or poll_info_to_view.results_visibility == True%}
<div class="row mt-2 ms-1 me-1 border-0 rounded bg-light">
    <div class="col-md-auto pe-0">
        <div class="fs-4">Visibilità dei risultati:</div>
    </div>
    <div class="col">
        <div class="fw-light fs-5 mt-1 text-info">{{ poll.get_results_visibility_display }}</div>
    </div>
</div>
{%endif%}
