<!-- Copy link -->
<div class="input-group" style="max-width: 400px;">
    <input type="text" readonly class="form-control"
        value="{{request.get_host}}{% url 'poll_details_page' poll_short_id=poll.short_id %}" />
    <button type="button" class="btn btn-secondary" 
        onclick="copyLink('{{request.get_host}}{% url 'poll_details_page' poll_short_id=poll.short_id %}')">
        Copia link
    </button>
</div>
<script>
    /**
     * Copy an url on user's clipboard.
     * 
     * Inspired to: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard 
     */
    function copyLink(url) {
    
        // Copy the text inside user 
        navigator.clipboard.writeText(url);
      
        // Alert the copied text
        alert("Link copiato!");
    }
</script>