{% comment %} List of actions a poll owner can do on a poll {% endcomment %}

{% load socialaccount %}

<div class="row mt-4">
    <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

            <!-- Go back to all polls link -->
            <a name="" id="" role="button"
                class="btn btn-primary m-2" 
                href="{% url 'apps.polls_management:all_user_polls' %}?page=1&per_page=10" >
                Ritorna alla lista di tutte le scelte
            </a>

            {% if not poll.is_open and not poll.is_closed and user == poll.author %}

                <!-- Edit poll action -->
                <a name="" id="" role="button"
                    class="btn btn-warning m-2" 
                    href="{% url 'apps.polls_management:poll_edit' poll_id=poll.id %}" >
                    Modifica scelta
                </a>

                <!-- Delete poll action -->
                <form action="{% url 'apps.polls_management:poll_delete' poll_id=poll.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-danger m-2">Elimina scelta</button>
                    </div>
                </form>

                <!-- Open now poll action -->
                <form action="{% url 'apps.polls_management:poll_open' poll_id=poll.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success m-2">Apri ora</button>
                    </div>
                </form>
            {% endif%}
        </div>
    </div>     
</div>

<br>

{% if poll.votable_token and not poll.is_closed %}

<div class="container">

    <div class="text-center fs-4">Area dedicata alla gestione dei Token</div>
    <br>
    <label for="tokenlistarea">Lista dei Token</label>
    <div class="form-outline">
        <textarea class="form-control" id="tokenlistarea" rows="8" readonly>{% if token_list %}{% for available_token in token_list %}{{available_token}}
{% endfor %}
{% endif %}
        </textarea>
        <small id="tokenlistarea" class="form-text text-muted">
            Lista dei Token attualmente utilizzabili per questa scelta.
        </small>
    </div>

    <br>

    <div class="d-grid gap-2">
        <form action="{% url 'apps.polls_management:poll_tokens' poll_id=poll.id %}" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <label for="tokensid">Quanti Token vuoi generare?</label>
                <input type="number" id="tokensid" name="tokens" class="form-control" aria-describedby="tokenshelp">
                    <small id="tokenshelp" class="form-text text-muted">
                        Inserire un numero intero di Token da generare.
                    </small>
                <button type="submit" class="btn btn-success m-2 w-100">Genera Token</button>
            </div>
        </form>
    </div>

<br>

    <label for="tokenlistarea">Token usati</label>
    <div class="form-outline">
        <textarea class="form-control" id="tokenlistarea" rows="8" readonly>{% if invalid_tokens %}{% for unavailable_token in invalid_tokens %}{{unavailable_token}}
{% endfor %}
{% endif %}
        </textarea>
        <small id="tokenlistarea" class="form-text text-muted">
            Lista dei Token attualmente non utilizzabili per questa scelta.
        </small>
    </div>

<br>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <form action="{% url 'apps.polls_management:delete_poll_tokens' poll_id=poll.id %}" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="submit" class="btn btn-danger m-2 w-100">Invalida tutti i Token, sia esistenti che già usati</button>
            </div>
        </form>
    </div>

</div>

{% endif %}